@page "{pollId}"
@using Delta.Polling.Base.Polls.Enums;
@using Delta.Polling.FrontEnd.Services.CurrentUser;
@inject ICurrentUserService currentUserService;
@model Delta.Polling.WebRP.Pages.Member.Polls.DetailsModel

@{
    ViewBag.CurrentMenu = MenuFor.MemberPollsIndex;
}

@await Component.InvokeAsync("ErrorViewer", Model.Error)



@if (Model.Poll is not null)
{
    ViewData["Title"] = Model.Poll.Title;

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Index">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Member/Polls/Index">
                    Polls
                </a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>

    @if (TempData["success"] is not null)
    {
        <div class="alert alert-primary alert-dismissible fade show col-5" role="alert">
            <strong>Success!</strong> @TempData["success"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["failed"] is not null)
    {
        <div class="alert alert-danger alert-dismissible fade show col-5" role="alert">
            <strong>Failed!</strong> @TempData["failed"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    <section class="mb-4">
        <div class="row">
            <div class="col-md-12 justify-content-center mt-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1> @Model.Poll.Title </h1>
                        <small>Status : @Model.Poll.Status</small>
                        <br />
                        <small>Created : @Model.Poll.Created</small>
                        <br />
                        <small>Created By : @Model.Poll.CreatedBy</small>
                        <br />
                        @if (Model.Poll.Modified != null)
                        {
                            <small>Last Modified : @Model.Poll.Modified</small>
                            <br />
                            <small>Modified By : @Model.Poll.Modified</small>
                            <br />
                        }
                        <small>Allow Other Choice : @Model.Poll.AllowOtherChoice</small>
                        <br />
                        <small>Maximum Answers : @Model.Poll.MaximumAnswer</small>
                        <br />
                        <p class="card-text">Some dummy text that I wrote</p>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Poll.Status is PollStatus.Draft)
        {
            @if (currentUserService.Username == Model.Poll.CreatedBy)
            {
                <a class="btn btn-primary" asp-page="Start" asp-route-pollId="@Model.PollId">Start Poll</a>
                <a class="btn btn-danger" asp-page="Edit" asp-route-pollId="@Model.PollId">Update Poll</a>
                <a class="btn btn-warning" asp-page="Delete" asp-route-pollId="@Model.PollId">Delete Poll</a>
            }
        }

        @if (Model.Poll.Status is PollStatus.Ongoing)
        {
            @if (currentUserService.Username == Model.Poll.CreatedBy)
            {
                <a class="btn btn-warning" asp-page="Finish" asp-route-pollId="@Model.PollId">Finish Poll</a>
            }
        }

        <a asp-page="Index" class="btn btn-secondary">Back</a>
    </section>

    <div class="row">
        <div class="col-md-12 justify-content-center mt-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h1 class="text-center"> @Model.Poll.Question </h1>
                    @if (Model.Poll.MaximumAnswer > 1)
                    {
                        @foreach (var choice in Model.Poll.ChoiceItems)
                        {
                            <div class="form-check">
                                <input id="@choice.Id"
                                       class="form-check-input"
                                       type="checkbox"
                                       name="pollOption"
                                       value="@choice.Id"
                                @(choice.IsChosen ? "checked" : "")>

                                @{
                                    //TODO: Ganti label dengan sesuatu
                                }
                                <label class="form-check-label" for="@choice.Id">
                                    @choice.Description

                                    @if (Model.Poll.Status is PollStatus.Draft)
                                    {
                                        <div>
                                            <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">
                                                <i class="bi bi-trash">
                                                </i>
                                            </a>


                                            <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">
                                                <i class="fa fa-edit">
                                                </i>
                                            </a>
                                        </div>
                                    }
                                </label>
                            </div>
                        }
                    }
                    else
                    {
                        @foreach (var choice in Model.Poll.ChoiceItems)
                        {
                            <div class="form-check">
                                <input id="@choice.Id"
                                       class="form-check-input"
                                       type="radio"
                                       name="pollOption"
                                       value="@choice.Id"
                                @(choice.IsChosen ? "checked" : "")>
                                <label class="form-check-label" for="pollOption">
                                    @choice.Description
                                    @if (Model.Poll.Status is PollStatus.Draft)
                                    {
                                        <div>
                                            <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">
                                                <i class="bi bi-trash">
                                                </i>
                                            </a>


                                            <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">
                                                <i class="fa fa-edit">
                                                </i>
                                            </a>
                                        </div>
                                    }
                                </label>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>

    @if (Model.Poll.Status is PollStatus.Draft && currentUserService.Username == Model.Poll.CreatedBy)
    {

        <form asp-page-handler="AddChoice" method="post" class="col-8">
            <input type="hidden" asp-for="@Model.InputAddChoiceCommand.PollId" value="@Model.PollId" class="form-control" required>

            <!-- Button trigger modal -->
            <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addChoice">
                Add Choice
            </a>

            <!-- Modal -->
            <div class="modal fade" id="addChoice" tabindex="-1" aria-labelledby="addChoice" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addChoiceLabel">Add Choice </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="mb-3">
                                <label asp-for="@Model.InputAddChoiceCommand.Description" class="form-label"></label>
                                <input type="text" asp-for="@Model.InputAddChoiceCommand.Description" class="form-control" required>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Add Choice</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    }

    @if (Model.Poll.Status is PollStatus.Ongoing)
    {
        <a class="btn btn-primary" data-poll-id="@Model.PollId" id="add-another-choice">Add Another Choice</a>
        <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">
            Add Another Choice(open new page)
        </a>

        @if (Model.Poll.AnswerItems.Count() > 0)
        {
            <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">Change Vote</a>
        }
        else
        {
            <a class="btn btn-primary" asp-page="AddAnotherChoice" asp-route-pollId="@Model.PollId">Submit Vote</a>
        }
    }

    @if (Model.Poll.Status is PollStatus.Finished)
    {
        <a class="btn btn-primary" asp-page="ResultPoll" asp-route-pollId="@Model.PollId">Atau bikin page baru aja</a>

        @* <canvas id="myChart"></canvas> *@
        <div style="width: 504px; height: 252px;">
            <canvas id="myChart" width="504" height="252"></canvas>
        </div>


    }
}

<script type="text/javascript" language=javascript>

    const addAnotherChoiceButton = document.getElementById('add-another-choice');
    if (addAnotherChoiceButton) {
        document.getElementById('add-another-choice').addEventListener('click', (event) => {
            let pollId = event.target.getAttribute('data-poll-id');
            fetch(`${pollId}?handler=AddAnotherChoice`)
                .then((response) => {
                    return response.text();
                })
                .then((htmlText) => {
                    $('#form-modal .modal-body').html(htmlText);
                    $('#form-modal .modal-title').html("Add Another Choice");
                    $('#form-modal').modal('show');
                })
        });
    }

    function initChart() {
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Label 1", "Label 2", "Label 3"],
                datasets: [
                    {
                        label: 'Hasil Polling',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        data: [20, 30, 40],
                    }
                ]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    }

    $(document).ready(function () {
        // Cek apakah id myChart ada

        let chartContainer = document.getElementById('myChart');

        if (chartContainer) {
            initChart();
        }

        // $('#viewAll').load('?handler=ViewTimeline');

    });
</script>
