@page "{PollId}"
@using Delta.Polling.Base.Polls.Enums;
@model Delta.Polling.WebRP.Pages.Member.Polls.DetailsModel

@{
    ViewBag.CurrentMenu = MenuFor.MemberGroupIndex;
}

@if (Model.Poll is not null)
{
    ViewData["Title"] = Model.Poll.Title;

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Index">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Member/Index">
                    Member
                </a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>

    <section class="mb-4">
        <div class="row">
            <div class="col-md-12 justify-content-center mt-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1> @Model.Poll.Title </h1>
                        <small>Created at : Dummy Created At</small>
                        <br />
                        <small>Something 1 : Something 1</small>
                        <br />
                        <small>Something 2 : Something 2</small>
                        <br />
                        <p class="card-text">Some text that I write. Some text that I write. Some text that I write. Some text that I write.  </p>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.Poll.Status is PollStatus.Draft)
        {
            <a class="btn btn-primary" asp-page="Start" asp-route-pollId="@Model.PollId">Start Poll</a>
            <a class="btn btn-warning" asp-page="Finish" asp-route-pollId="@Model.PollId">Finish Poll</a>
            <a class="btn btn-danger" asp-page="Update" asp-route-pollId="@Model.PollId">Update Poll</a>
        }

        @if (Model.Poll.Status is PollStatus.Ongoing)
        {
            @if (User.Identity!.Name == Model.Poll.CreatedBy)
            {
                <a class="btn btn-warning" asp-page="Finish" asp-route-pollId="@Model.PollId">Finish Poll</a>
            }
        }

        <a asp-page="Index" class="btn btn-secondary">Back</a>
    </section>

    
    @if (Model.Poll.Status is PollStatus.Ongoing)
    {
        <div class="row">
            <div class="col-md-12 justify-content-center mt-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h1 class="text-center"> @Model.Poll.Question </h1>
                        @if (Model.Poll.MaximumAnswer > 1)
                        {
                            @foreach (var choice in Model.Poll.ChoiceItems)
                            {
                                <div class="form-check">
                                    <input id="@choice.Id" 
                                           class="form-check-input"
                                           type="checkbox"
                                           name="pollOption"
                                           value="@choice.Id"
                                    @(choice.IsChosen ? "checked" : "")>
                                    <label class="form-check-label" for="@choice.Id">
                                        @choice.Description
                                    </label>
                                </div>
                            }
                        }
                        else
                        {
                            @foreach (var choice in Model.Poll.ChoiceItems)
                            {
                                <div class="form-check">
                                    <input id="@choice.Id"
                                           class="form-check-input"
                                           type="radio"
                                           name="pollOption"
                                           value="@choice.Id"
                                           @(choice.IsChosen ? "checked" : "")
                                    >
                                    <label class="form-check-label" for="pollOption">
                                        @choice.Description
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }
}

<script type="text/javascript" language=javascript>
    function handleFormSubmit(event) {
        event.preventDefault(); // Prevent the default form submission

   

        return false; // Prevent the default form submission
    }
</script>
