@page "{MovieId}"
@model IndexModel

@{
    ViewData["Title"] = "Movie Posters";
    ViewBag.CurrentMenu = MenuFor.ContributorMoviesIndex;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Contributor/Index">
                Contributor
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Contributor/Movies/Index">
                My Movies
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Contributor/Movies/Details"
               asp-route-MovieId="@Model.MovieId">
                @Model.Movie.Title
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<vc:error-viewer problem="@Model.Problem">
</vc:error-viewer>

@if (Model.Movie is not null)
{
    @if (Model.Movie.Posters.Any())
    {
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>File Name</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var poster in Model.Movie.Posters)
                {
                    <tr>
                        <td>
                            <i class="bi bi-info-circle me-2"
                               data-bs-toggle="tooltip"
                               data-bs-title="@poster.Description">
                            </i>
                            @poster.FileName
                        </td>
                        <td class="text-center">
                            <form asp-page-handler="Download" method="post">
                                <a class="btn btn-sm btn-secondary"
                                   role="button"
                                   href="@poster.Url"
                                   target="_blank">
                                    Open
                                </a>
                                <button class="btn btn-sm btn-primary">
                                    Download
                                </button>
                                <input type="hidden" name="moviePosterId" value="@poster.Id" />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    @if (Model.Movie.Status is MovieStatus.Draft or MovieStatus.Returned)
    {
        <a class="btn btn-info"
           asp-page="/Contributor/MoviePosters/Add"
           asp-route-MovieId="@Model.MovieId">
            Add Poster
        </a>
    }

    <a class="btn btn-secondary"
       asp-page="/Contributor/Movies/Details"
       asp-route-MovieId="@Model.MovieId">
        Back
    </a>
}
