@page
@model AddModel

@{
    ViewData["Title"] = "Add Movie";
    ViewBag.CurrentMenu = MenuFor.ContributorMoviesIndex;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Contributor/Index">
                Contributor
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Contributor/Movies/Index">
                My Movies
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

<h1>@ViewData["Title"]</h1>

<form method="post" class="col-8">
    <div class="mb-3">
        <label asp-for="@Model.Input.Title" class="form-label"></label>
        <input asp-for="@Model.Input.Title" class="form-control" required>
    </div>
    
    <div class="mb-3">
        <label asp-for="@Model.Input.Budget" class="form-label"></label>
        <input type="number" asp-for="@Model.Input.Budget" class="form-control" min="1000" max="100000" required>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.Input.Storyline" class="form-label"></label>
        <textarea asp-for="@Model.Input.Storyline" class="form-control" rows="5" cols="50" maxlength="333" required></textarea>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
        Save
    </button>
    <a asp-page="Index" class="btn btn-secondary">Back</a>

    <!-- Modal -->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addModalLabel">Add Movie!</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure want to add this movie ?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>
