@page "{MovieId}"
@model DetailsModel

@{
    ViewBag.CurrentMenu = MenuFor.ContributorMoviesIndex;
}

@if (Model.Movie is not null)
{
    ViewData["Title"] = Model.Movie.Title;

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Index">
                    Home
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Contributor/Index">
                    Contributor
                </a>
            </li>
            <li class="breadcrumb-item">
                <a class="text-decoration-none"
                   asp-page="/Contributor/Movies/Index">
                    My Movies
                </a>
            </li>
            <li class="breadcrumb-item active"
                aria-current="page">
                @ViewData["Title"]
            </li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-12 justify-content-center mt-3">
            <div class="card mb-3">
                <div class="card-body">
                    <h1> @Model.Movie.Title </h1>
                    <small>Created at : @Model.Movie.Created</small>
                    <br />
                    <small>Budget : @Model.Movie.BudgetDisplayText</small>
                    <br />
                    <small>Status : @Model.Movie.Status</small>
                    <br />
                    @if (@Model.Movie.ApprovedBy != null)
                    {
                        <small>Approved By : @Model.Movie.ApprovedBy</small>
                        <br />
                    }
                    @if (@Model.Movie.Approved != null)
                    {
                        <small>Approved at : @Model.Movie.Approved</small>
                        <br />
                    }
                    <hr />
                    <h3>Storyline</h3>
                    <p class="card-text">@Model.Movie.Storyline </p>
                </div>
            </div>
        </div>
    </div>

    @if (Model.Movie.Status is MovieStatus.Draft or MovieStatus.Returned)
    {
        <a class="btn btn-primary" asp-page="Submit" asp-route-MovieId="@Model.MovieId">Submit Movie</a>
        <a class="btn btn-warning" asp-page="Edit" asp-route-MovieId="@Model.MovieId">Edit Movie</a>
        <a class="btn btn-danger" asp-page="Delete" asp-route-MovieId="@Model.MovieId">Delete Movie</a>
        <a class="btn btn-info" asp-page="/Contributor/MoviePosters/Add" asp-route-MovieId="@Model.MovieId">Add Poster</a>
    }

    <a asp-page="Index" class="btn btn-secondary">Back</a>
}

