@page "{GroupId}"
@model Delta.Polling.WebRP.Pages.Member.Groups.DetailsModel
@{
    ViewBag.CurrentMenu = MenuFor.MemberGroupIndex;
    ViewData["Title"] = "Details";
}

@await Component.InvokeAsync("ErrorViewer", Model.Error)

@if (TempData["success"] is not null)
{
    <div class="alert alert-primary alert-dismissible fade show col-5" role="alert">
        <strong>Success!</strong> @TempData["success"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (TempData["failed"] is not null)
{
    <div class="alert alert-danger alert-dismissible fade show col-5" role="alert">
        <strong>Failed!</strong> @TempData["failed"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Index">
                Home
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Member/Index">
                Member
            </a>
        </li>
        <li class="breadcrumb-item">
            <a class="text-decoration-none"
               asp-page="/Member/Groups/Index">
                My Groups
            </a>
        </li>
        <li class="breadcrumb-item active"
            aria-current="page">
            @ViewData["Title"]
        </li>
    </ol>
</nav>

<h1>Check this is @Model.GroupId</h1>

<form asp-page-handler="AddPoll" method="post" class="col-8">
    <input type="hidden" asp-for="@Model.Input.GroupId" value="@Model.GroupId" class="form-control" required>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPoll">
        Create Poll inside this group
    </button>

    <!-- Modal -->
    <div class="modal fade" id="addPoll" tabindex="-1" aria-labelledby="addPoll" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPollLabel">Create Poll </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label asp-for="@Model.Input.Title" class="form-label"></label>
                        <input type="text" asp-for="@Model.Input.Title" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Input.Question" class="form-label"></label>
                        <input type="text" asp-for="@Model.Input.Question" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Input.MaximumAnswer" class="form-label"></label>
                        <input type="number" asp-for="@Model.Input.MaximumAnswer" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Input.AllowOtherChoice" class="form-label text-warning"></label>
                        <select asp-for="@Model.Input.AllowOtherChoice" class="form-control" required>
                            <option value="true">True</option>
                            <option value="false">False</option>
                        </select>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </div>
        </div>
    </div>
</form>
